<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Golvis</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://allfont.ru/allfont.css?fonts=arvo" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- Шапка сайта -->
<header id="header" class="header">
    <!-- Контейнер -->
    <div class="container">
        <!-- Строка -->
        <div class="row">
            <!-- Лого -->
            <div class="cl-lg-3">
                <!-- Заголовок логотипа-->
                <h2 class="header__logo">Голубцов Виссарион</h2>
            </div>
            <div class="cl-lg-3 ml-auto">
                <i class="fa fa-instagram header__inst" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div class="header__title">
                <div class="cl-lg-12">
                    <h3>Профессиональный Фотограф<br>Выское Качество</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="header__more d-flex">
                <a href="#price">
                    <div class="cl-lg-3">
                        <button type="submit" class="header__button">Заказать фотосъемку</button>
                    </div>
                </a>
                <a href="#info">
                    <div class="cl-lg-3">
                        <button type="submit" class="header__button">Читать подробнее</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>
<!-- Блок описания -->
<section id="description" class="description">
    <!-- Контейнер -->
    <div class="container">
        <!-- Строка -->
        <div class="row">
            <!-- Блок предметов описания -->
            <div class="description__items d-flex">
                <!-- 4 колонки на 1 предмет описания -->
                <div class="cl-lg-4">
                    <!-- Фото -->
                    <img src="img/desc1.png" class="description__img" alt="Фотоаппарат">
                    <!-- Заголовок -->
                    <h3 class="description__title">Потрясающие снимки</h3>
                    <!-- Текст -->
                    <p class="description__text">Lorem ipsum dolor sit amet, consectetuer adipiscing laoreet dolore
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                        ullamcorper suscipit.</p>
                </div>
                <div class="cl-lg-4">
                    <img src="img/desc2.png" class="description__img" alt="Кинолента">
                    <h3 class="description__title">Сьемка свадеб</h3>
                    <p class="description__text">Lorem ipsum dolor sit amet, consectetuer adipiscing laoreet dolore
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                        ullamcorper suscipit.</p>
                </div>
                <div class="cl-lg-4">
                    <img src="img/desc3.png" class="description__img" alt="Камера">
                    <h3 class="description__title">Качественный репортаж</h3>
                    <p class="description__text">Lorem ipsum dolor sit amet, consectetuer adipiscing laoreet dolore
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                        ullamcorper suscipit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="price" class="price">
    <div class="container">
        <div class="row">
            <div class="price__info d-flex">
                <div class="cl-lg-5">
                    <h2 class="price__title">Сохраните каждый момент вашей жизни</h2>
                    <p class="price__text">
                        Lor em ipsum dolor sit amet, consectetuer adipiscing laoreet dolore magna aliquam erat volutpat.
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
                        <br>
                        +79994442277
                    </p>
                    <div class="price__more d-flex">
                        <div class="price__button">
                            <p class="price__button__title">Съемка 1</p>
                            <p class="price__button__text">23,000</p>
                        </div>
                        <div class="price__button">
                            <p class="price__button__title">Съемка 2</p>
                            <p class="price__button__text">12,000</p>
                        </div>
                    </div>
                </div>
                <div class="cl-lg-7 price__img">
                    <img src="img/price.png" alt="Фотоаппарат">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="info" class="info">
    <div class="container">
        <div class="row">
            <div class="cl-lg-7">
                <h2 class="info__title">Запомните каждый момент отличным снимком</h2>
                <p class="info__text1">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </p>
                <p class="info__text2">
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                    dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                    praesent luptatum zzril delenit augue
                </p>
                <a href="#price">
                    <div class="info__button">
                        Заказать фотосессию
                    </div>
                </a>
            </div>
            <div class="cl-lg-5 info__img">
                <img src="img/info.png" alt="Ребенок с зонтиком">
            </div>
        </div>
    </div>
</section>
<section id="comment" class="comment">
    <div class="container">
        <div class="row">
            <div class="cl-lg-6 ml-auto comment__back">
                <p class="comment__text">
                    Хочу выразить благодарность за все эмоции которые мы получили от фотосессии. Виссарион приятный в
                    общении человек, было ощущение, что знакомы с ним давно. Фотографии яркие, весёлые, эмоциональные,
                    даже дождь ничего не смог нам испортить. Спасибо Вам большое. Желаю творческих успехов.
                </p>
                <p class="comment__author">
                    Екатерина Иванова
                </p>
                <p class="comment__client">
                    Клиент
                </p>
            </div>
        </div>
    </div>
</section>
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="cl-lg-8 portf1">
                <img src="img/portf1.png" alt="Фото из портфолио №1">
            </div>
            <div class="cl-lg-4 portf2">
                <img src="img/portf2.png" alt="Фото из портфолио №2">
            </div>
        </div>
        <div class="row">
            <div class="cl-lg-4 portf3">
                <img src="img/portf3.png" alt="Фото из портфолио №3">
            </div>
            <div class="cl-lg-4 portf4">
                <img src="img/portf4.png" alt="Фото из портфолио №4">
            </div>
        </div>
        <div class="row">
            <div class="cl-lg-4 portf5">
                <img src="img/portf5.png" alt="Фото из портфолио №5">
            </div>
            <div class="cl-lg-4 portf6">
                <img src="img/portf6.png" alt="Фото из портфолио №6">
            </div>
            <div class="cl-lg-4 portf7">
                <img src="img/portf7.png" alt="Фото из портфолио №7">
            </div>
        </div>
        <div class="row">
            <div class="cl-lg-8 portf8">
                <img src="img/portf8.png" alt="Фото из портфолио №8">
            </div>
        </div>
    </div>

</section>
<section id="clients" class="clients">
    <div class="container">
        <div class="row">
            <img src="img/clients.png" alt="Партнеры">
        </div>
    </div>
</section>
<section id="join" class="join">
    <div class="container">
        <div class="row">
            <div class="cl-lg-12">
                <h3 class="join__title">Наступила эра новой фотографии. рождений. Оперативность и высокое качество.</h3>
                <p class="join__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                    nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Duis
                    autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
                    eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
                    luptatum zzril delenit augue</p>
            </div>
            <div class="row">
                <div class="cl-lg-12">
                    <input class="join_input" type="text" placeholder="Введите вашу почту...">
                </div>
            </div>
            <div class="container">
            <div class="row">
                <div class="cl-lg-12">
                    <button type="submit" class="join__button">Подписатся на новости</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="cl-lg-6">
                <h2 class="footer__logo">Голубцов Виссарион</h2>
            </div>
            <div class="cl-lg-4 ml-auto">
                <ul class="d-flex footer__menu">
                    <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                    <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    <li><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
                    <li><i class="fa fa-telegram" aria-hidden="true"></i></li>
                    <li><i class="fa fa-dribbble" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>